.card {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}

.pv{
    position: relative;
}

.att{
    position: relative;
}

.icone-pv,
.icone-att {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0%;
}

.icone {
    display: flex;
    align-items: center;
}

.pv p,
.att p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 14px; 
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    gap: 20px;
}

#gauche {
    grid-column: 1;
}

#center {
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

#droite {
    grid-column: 5;
}

.colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_1, #image_2, #image_3, #image_4, #image_5, #image_6, #image_7, #image_8, #image_9,
#image_10, #image_11, #image_12 {
    background-size: cover;
    background-position: center;
    margin: 10px;
}

#image_1 {
    background-image: url(../image_carte/image_1.jpg);
}

#image_2 {
    background-image: url(../image_carte/image_2.jpg);
}

#image_3 {
    background-image: url(../image_carte/image_3.jpg);
}

#image_4 {
    background-image: url(../image_carte/image_4.jpg);
}

#image_5 {
    background-image: url(../image_carte/image_5.jpg);
}

#image_6 {
    background-image: url(../image_carte/image_6.jpg);
}

#image_7 {
    background-image: url(../image_carte/image_7.jpg);
}

#image_8 {
    background-image: url(../image_carte/image_8.jpg);
}

#image_9 {
    background-image: url(../image_carte/image_9.jpg);
}

#image_10 {
    background-image: url(../image_carte/image_10.jpg);
}

#image_11 {
    background-image: url(../image_carte/image_11.jpg);
}

#image_12 {
    background-image: url(../image_carte/image_12.jpg);
    width: 90px;
}
